.resize {
    max-width: 75px;
    height: auto;
    margin-right: auto;
}

* {
    margin: 0px;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    background-color: #646ae0;
    justify-content: flex-end;
    margin: 0px;
    padding: 1%;
    align-items: center;
}

p {
    font-size: 1.5em;
    font-family: Helvetica;
    color: #E3DE4B;
    margin-bottom: 0%;
    margin-left: 1%;
}

span {
    margin: -5px;
}